
/* !Navbar start */
.navbarBlock {
    width: 85%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

/* !logo */
.logoBlock {
    width: 20%;
    display: flex;
    align-items: center;
}

.logoBlock div {
    display: flex;
    justify-content: space-around;
    color: #677DA8;
    align-items: center;
}

.logoBlock div>img {
    height: 60px;
    width: 150px;
    margin-right: 10px;
}

/* !menu */
.menuBlock {
    width: 50%;
    height: 80px;
}

.menuBlock>ul {
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuBlock ul>li {
    list-style: none;
    color: #4D4D4D;
    font-size: 18.51px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.menuBlock ul>li:hover{
    color:blue;
    transition: all ease-in-out 0.3s;
}

/* !auth */
.authBlock {
    width: 15%;
    height: inherit;
}

.authBlock>div {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #4D4D4D;
}

.authBlock div>img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.searchBar {
    margin-top: 4px;
    font-size: 20px;
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.cart>span {
    margin: 3px;
    font-size: 14px;
    padding: 1px 5px 2.5px 5px;
    background-color: #677DA8;
    color: white;
    border-radius: 100%;
}